<div class="blog-page blog-content-2">
    <div class="row">
        <div class="col-lg-9">
            <div class="blog-single-content bordered blog-container">
                <div class="blog-single-head">
                    <h1 class="blog-single-head-title">
                      <%= @post.title %> - <%= @post.user.name %>
                    </h1>
                    <div class="blog-single-head-date">
                        <i class="icon-calendar font-blue"></i>
                        <a href="javascript:;"><%= @post.created_at %></a>
                    </div>
                </div>
                    <%= @post.content %>
                </div>
                <%= render "comments/comment" %>
            </div>
        </div>
    </div>
</div>
